//Colors
$primary-color: #0B1114;
$primary-alt-1-color: #000000;
$primary-alt-2-color: #F2F3F4;
$secondary-color: #FFFFF7;
$secondary-alt-1-color: #F9F9F9;
$secondary-alt-2-color: #F4F4F4;
$secondary-alt-3-color: #FFFFFF;
$tertiary-color: #373F51;
$tertiary-alt-1-color: #8D99AE;
$tertiary-alt-2-color: #D8DBE2;
//Box-sizing default
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/*
Custom Font Sets
----------------*/
@font-face {
    font-family: "Brandon Text";
    src: url(../assets/fonts/brandon_text/brandon-text-regular.ttf) format("truetype"),
         url(../assets/fonts/brandon_text/brandon-text-regularitalic.woff) format("woff"),
         url(../assets/fonts/brandon_text/brandon-text-medium.ttf) format("truetype"),
         url(../assets/fonts/brandon_text/brandon-text-bold.woff) format("woff"),
         url(../assets/fonts/brandon_text/brandon-text-medumitalic.ttf) format("truetype"),
         url(../assets/fonts/brandon_text/brandon-text-bold.ttf) format("truetype"),
         url(../assets/fonts/brandon_text/brandon-text-bolditalic.ttf) format("truetype");
}
/* Basic Boilerplate */
html {
    max-width: 100% !important;
    color: $primary-color;
    line-height: 1.4;
    overflow-x: hidden !important;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}
/* Default typography
--------------------- */
.primary-text-color {
    color: $primary-color !important;
}
.secondary-text-color {
    color: $secondary-color !important;
}
.tertiary-text-color {
    color: $tertiary-color !important;
}
.primary-font {
    font-family: "Brandon Text", sans-serif;
}
.secondary-font {
    font-family: "Brandon Text", serif;
}
.tertiary-font {
    font-family: "Brandon Text", serif;
}
body {
    @extend .tertiary-font;
    //This size affects all other sizes
    //font-size: 30%;
    text-decoration: none;
    overflow-x: hidden;
    font-size: 16px;
}
.font-fix {
    font-kerning: auto;
}
.section-super-header {
    @extend .font-fix;
    @extend .primary-font;
    color: $primary-alt-1-color;
    font-size: 4.236em;
    line-height: 93px;
    font-weight: bold;
}
.section-header {
    @extend .font-fix;
    @extend .primary-font;
    color: $primary-color;
    text-align: center;
    font-size: 2.618em;
    font-weight: 800;
    line-height: 56px;
}
.primary-title {
    @extend .font-fix;
    @extend .primary-font;
    color: $primary-color;
    font-size: 1.999em;
    line-height: 45px;
}
.secondary-title {
    @extend .font-fix;
    @extend .primary-font;
    color: $tertiary-color;
    font-size: 1.618em;
    line-height: 35px;
}
.sub-title {
    @extend .font-fix;
    @extend .primary-font;
    color: $tertiary-alt-1-color;
    font-size: 1.414em;
    line-height: 15px;
}
.tagline-text {
    @extend .font-fix;
    @extend .primary-font;
    color: $tertiary-color;
    font-size: 1.125em;
    line-height: 24px;
}
.note-text {
    @extend .font-fix;
    @extend .primary-font;
    color: $primary-color;
    font-size: 0.875em;
    line-height: 18px;
}
.description-text {
    @extend .primary-font;
    @extend .font-fix;
    color: $tertiary-color;
    font-size: 0.707em;
    font-weight: 300;
    letter-spacing: 0.4px;
    line-height: 25px;
}
.body-text {
    /* Motivation can take : */
    @extend .secondary-font;
    @extend .font-fix;
    font-size: 1em;
    color: $primary-alt-1-color;
    letter-spacing: 0px;
    line-height: 22px;
}
/* Link clear defaults
-------------------*/
a {
    text-decoration: none;
    outline: none;
}
a:focus, a:hover {
    outline: none;
}
a:active {
    outline: 0;
}
a:visited {
    outline: 0;
}
/*
Default button styles
---------------------*/
.button {
    margin: 0px;
//    background: #FFCF00;
//    box-shadow: 0px 1px 1px 0px $primary-alt-1-color;
//    border-radius: 3px;
    background: $secondary-alt-3-color;
    border: 2px solid $primary-alt-1-color;
    min-height: 30px;
    vertical-align: middle;
    color: $primary-alt-1-color;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.button:hover {
    background: $primary-alt-1-color;
    color: white;
}
.button-link-color-inherit a{
    color: inherit;
    &:hover, &:focus {
        color: inherit;
    }
}
/* Shared elements
------------------*/
section {
    display: block;
}
footer {
    clear: both !important;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
img {
    border: 1px solid $tertiary-alt-2-color;
    border-radius: 3px;
}
.icon {
    height: 50px;
    width: auto !important;
    pointer-events: none;
}
.icon-small {
    height: 25px;
    width: auto !important;
    pointer-events: fill;
    &.checkmark:hover {
        -moz-filter: hue-rorate(225deg);
        filter: hue-rotate(225deg);
    }
}
table {
    border-spacing: 5px;
    empty-cells: show;
    border: 3px dashed #cbcbcb;
    thead {
        background-color: #e0e0e0;
        text-align: left;
        vertical-align: bottom;
        tr {
            border-bottom: 3px dashed #cdcdcd;
        }
    }
    tfoot {
        background-color: #e0e0e0;
        text-align: left;
        vertical-align: middle;
    }
    td, th {
        padding: 20px;
    }
}
.construction-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: $primary-alt-1-color;
    color: white;
    min-height: 50px;
    font-weight: 300;
    font-style: italic;
    padding: 10px;
    box-shadow: 0px 1px 0px 2px $primary-alt-1-color;
}
.tiles {
    text-align: center;
    padding: 20px;
    * {
        margin: 0px;
    }
}
.card {
    height: 100%;
    width: 100%;
    text-align: left;
    padding: 30px 20px;
    margin: 0 auto;
    background: #DBDEE0;
    box-shadow: 0px 1px 1px 0px rgba(48,68,76,0.75);
    border-radius: 3px;
}
/* Utilities
--------------*/
.center-text {
    text-align: center;
}
.zero-margin {
    margin: 0px;
}
.inherit-height {
    height: inherit;
}
.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}
/* Centering Hack
--------------*/
.content {
    margin: 0px auto;
    display: table;
}
//First descendant, any element
.content > * {
    display: table-cell;
}
/* ===============
    ALL: IE Fixes
   =============== */
.ie7 .title {
    padding-top: 20px;
}
/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
/* Testers */
.test1 {
    background-color: lightgrey;
}
.test2 {
    background-color: indianred;
}
