* {
  box-sizing: border-box; }

/*
Custom Font Sets
----------------*/
@font-face {
  font-family: "Brandon Text";
  src: url(../assets/fonts/brandon_text/brandon-text-regular.ttf) format("truetype"), url(../assets/fonts/brandon_text/brandon-text-regularitalic.woff) format("woff"), url(../assets/fonts/brandon_text/brandon-text-medium.ttf) format("truetype"), url(../assets/fonts/brandon_text/brandon-text-bold.woff) format("woff"), url(../assets/fonts/brandon_text/brandon-text-medumitalic.ttf) format("truetype"), url(../assets/fonts/brandon_text/brandon-text-bold.ttf) format("truetype"), url(../assets/fonts/brandon_text/brandon-text-bolditalic.ttf) format("truetype"); }
/* Basic Boilerplate */
html {
  max-width: 100% !important;
  color: #0B1114;
  line-height: 1.4;
  overflow-x: hidden !important; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.wrapper {
  width: 90%;
  margin: 0 5%; }

/* Default typography
--------------------- */
.primary-text-color {
  color: #0B1114 !important; }

.secondary-text-color {
  color: #FFFFF7 !important; }

.tertiary-text-color {
  color: #373F51 !important; }

.primary-font, .section-super-header, .section-header, .primary-title, .secondary-title, .sub-title, .tagline-text, .note-text, .description-text {
  font-family: "Brandon Text", sans-serif; }

.secondary-font, .body-text {
  font-family: "Brandon Text", serif; }

.tertiary-font, body {
  font-family: "Brandon Text", serif; }

body {
  text-decoration: none;
  overflow-x: hidden;
  font-size: 16px; }

.font-fix, .section-super-header, .section-header, .primary-title, .secondary-title, .sub-title, .tagline-text, .note-text, .description-text, .body-text {
  font-kerning: auto; }

.section-super-header {
  color: #000000;
  font-size: 4.236em;
  line-height: 93px;
  font-weight: bold; }

.section-header {
  color: #0B1114;
  text-align: center;
  font-size: 2.618em;
  font-weight: 800;
  line-height: 56px; }

.primary-title {
  color: #0B1114;
  font-size: 1.999em;
  line-height: 45px; }

.secondary-title {
  color: #373F51;
  font-size: 1.618em;
  line-height: 35px; }

.sub-title {
  color: #8D99AE;
  font-size: 1.414em;
  line-height: 15px; }

.tagline-text {
  color: #373F51;
  font-size: 1.125em;
  line-height: 24px; }

.note-text {
  color: #0B1114;
  font-size: 0.875em;
  line-height: 2px; }

.description-text {
  color: #373F51;
  font-size: 0.707em;
  font-weight: 300;
  letter-spacing: 0.4px;
  line-height: 25px; }

.body-text {
  /* Motivation can take : */
  font-size: 1em;
  color: #000000;
  letter-spacing: 0px;
  line-height: 22px; }

/* Link clear defaults
-------------------*/
a {
  text-decoration: none;
  color: #8D99AE; }

a:focus, a:hover {
  color: #0B1114; }

a:active {
  outline: 0; }

a:visited {
  outline: 0; }

/*
Default button styles
---------------------*/
.button {
  margin: 0px;
  background: #FFFFFF;
  border: 2px solid #000000;
  min-height: 30px;
  vertical-align: middle;
  color: #000000;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.button:hover {
  background: #000000;
  color: white; }

.button-link-color-inherit a {
  color: inherit; }
  .button-link-color-inherit a:hover, .button-link-color-inherit a:focus {
    color: inherit; }

/* Shared elements
------------------*/
section {
  display: block; }

footer {
  clear: both !important;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }

img {
  border: 1px solid #D8DBE2;
  border-radius: 3px; }

.icon {
  height: 50px;
  width: auto !important;
  pointer-events: none; }

.icon-small {
  height: 25px;
  width: auto !important;
  pointer-events: fill; }
  .icon-small.checkmark:hover {
    -moz-filter: hue-rorate(225deg);
    filter: hue-rotate(225deg); }

table {
  border-spacing: 5px;
  empty-cells: show;
  border: 3px dashed #cbcbcb; }
  table thead {
    background-color: #e0e0e0;
    text-align: left;
    vertical-align: bottom; }
    table thead tr {
      border-bottom: 3px dashed #cdcdcd; }
  table tfoot {
    background-color: #e0e0e0;
    text-align: left;
    vertical-align: middle; }
  table td, table th {
    padding: 20px; }

.construction-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #000000;
  color: white;
  min-height: 50px;
  font-weight: 300;
  font-style: italic;
  padding: 10px;
  box-shadow: 0px 1px 0px 2px #000000; }

.tiles {
  text-align: center;
  padding: 20px; }
  .tiles * {
    margin: 0px; }

/* Utilities
--------------*/
.center-text {
  text-align: center; }

.zero-margin {
  margin: 0px; }

.inherit-height {
  height: inherit; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

/* Centering Hack
--------------*/
.content {
  margin: 0px auto;
  display: table; }

.content > * {
  display: table-cell; }

/* ===============
    ALL: IE Fixes
   =============== */
.ie7 .title {
  padding-top: 20px; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/* Testers */
.test1 {
  background-color: lightgrey; }

.test2 {
  background-color: indianred; }

#contact-bar {
  min-height: 50px;
  background-color: #F4F4F4; }
  #contact-bar div {
    text-align: center;
    height: auto;
    padding: 5px; }

section {
  padding: 20px; }

#navigation-main a {
  color: inherit; }
#navigation-main a:focus, #navigation-main a:hover {
  color: #8D99AE; }

#section-header div {
  padding: 5px; }
#section-header #talkToUs {
  margin-right: 5px; }

#section-intro {
  padding: 30px 10px 10px 10px; }
  #section-intro #intro-blurb {
    text-align: center; }
  #section-intro img {
    max-height: 497px;
    width: auto; }

#section-who .subtitle {
  text-align: center; }

#section-what .subtitle {
  text-align: center; }
#section-what img {
  border: none;
  height: 100px;
  width: auto; }
#section-what .tiles p {
  padding-top: 20px; }

#section-footer {
  color: #FFFFF7;
  height: 250px;
  background-color: #373F51;
  padding-bottom: 0px; }
  #section-footer #privacy {
    padding: 30px 0px 0px 0px; }
  #section-footer #copyright {
    padding: 30px 0px 0px 0px; }
  #section-footer #logo-footer {
    padding: 30px 20px 20px 0px; }
    #section-footer #logo-footer img {
      height: 40px;
      width: auto;
      border: none;
      border-radius: none; }
