/* Small only */
/* Medium up */
/* Medium only */
/* Large and up */
*,
*:after,
*:before {
  -webkit-box-sizing: "border-box";
  -moz-box-sizing: "border-box";
  box-sizing: "border-box"; }

/*
Custom Font Sets
----------------*/
@font-face {
  font-family: "Brandon Text";
  src: url(../assets/fonts/brandon_text/brandon-text-regular.ttf) format("truetype"), url(../assets/fonts/brandon_text/brandon-text-regularitalic.woff) format("woff"), url(../assets/fonts/brandon_text/brandon-text-medium.ttf) format("truetype"), url(../assets/fonts/brandon_text/brandon-text-bold.woff) format("woff"), url(../assets/fonts/brandon_text/brandon-text-medumitalic.ttf) format("truetype"), url(../assets/fonts/brandon_text/brandon-text-bold.ttf) format("truetype"), url(../assets/fonts/brandon_text/brandon-text-bolditalic.ttf) format("truetype"); }
/* Basic Boilerplate */
html {
  max-width: 100% !important;
  color: #0B1114;
  line-height: 1.4;
  overflow-x: hidden !important; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.wrapper {
  position: relative;
  height: 100%;
  width: 100%; }

/* Default typography
--------------------- */
.primary-text-color {
  color: #0B1114 !important; }

.secondary-text-color {
  color: #FFFFF7 !important; }

.tertiary-text-color {
  color: #373F51 !important; }

.primary-font, .section-super-header, .section-header, .primary-title, .secondary-title, .sub-title, .tagline-text, .note-text, .description-text {
  font-family: "Brandon Text", sans-serif; }

.secondary-font, .body-text {
  font-family: "Brandon Text", serif; }

.tertiary-font, body {
  font-family: "Brandon Text", serif; }

body {
  text-decoration: none;
  overflow-x: hidden;
  font-size: 16px; }

.font-fix, .section-super-header, .section-header, .primary-title, .secondary-title, .sub-title, .tagline-text, .note-text, .description-text, .body-text {
  font-kerning: auto; }

.section-super-header {
  color: #000000;
  font-size: 4.236em;
  line-height: 93px;
  font-weight: bold; }

.section-header {
  color: #0B1114;
  text-align: center;
  font-size: 2.618em;
  font-weight: 800;
  line-height: 56px; }

.primary-title {
  color: #0B1114;
  font-size: 1.999em;
  line-height: 45px; }

.secondary-title {
  color: #373F51;
  font-size: 1.618em;
  line-height: 35px; }

.sub-title {
  color: #8D99AE;
  font-size: 1.414em;
  line-height: 15px; }

.tagline-text {
  color: #373F51;
  font-size: 1.125em;
  line-height: 24px; }

.note-text {
  color: #0B1114;
  font-size: 0.875em;
  line-height: 18px; }

.description-text {
  color: #373F51;
  font-size: 0.707em;
  font-weight: 300;
  letter-spacing: 0.4px;
  line-height: 25px; }

.body-text {
  /* Motivation can take : */
  font-size: 1em;
  color: #000000;
  letter-spacing: 0px;
  line-height: 22px; }

/* Link clear defaults
-------------------*/
a {
  text-decoration: none;
  outline: none; }

a:focus, a:hover {
  outline: none; }

a:active {
  outline: 0; }

a:visited {
  outline: 0; }

a {
  color: inherit; }
  a:hover {
    color: inherit; }
  a:active, a:focus {
    color: inherit; }

/*
Default button styles
---------------------*/
.button {
  margin: 0px;
  padding: 0px;
  background: #FFFFFF;
  border: 2px solid #000000;
  min-height: 30px;
  vertical-align: middle;
  color: #000000;
  -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .button a {
    height: 100%;
    width: 100%;
    display: inline-block;
    padding: 10px 20px; }

.button:hover {
  background: #000000;
  color: white; }

.button:active, .button:focus {
  background: #000000;
  color: white;
  outline: none; }

/* Shared elements
------------------*/
section {
  display: block; }

footer {
  clear: both !important;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }

img {
  border: 1px solid #D8DBE2;
  border-radius: 3px; }

.icon {
  height: 50px;
  width: auto !important; }

table {
  border-spacing: 5px;
  empty-cells: show;
  border: 3px dashed #cbcbcb; }
  table thead {
    background-color: #e0e0e0;
    text-align: left;
    vertical-align: bottom; }
    table thead tr {
      border-bottom: 3px dashed #cdcdcd; }
  table tfoot {
    background-color: #e0e0e0;
    text-align: left;
    vertical-align: middle; }
  table td, table th {
    padding: 20px; }

.construction-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #000000;
  color: white;
  min-height: 50px;
  font-weight: 300;
  font-style: italic;
  padding: 10px;
  box-shadow: 0px 1px 0px 2px #000000; }

.tiles {
  text-align: center;
  padding: 20px; }
  .tiles * {
    margin: 0px; }

.card, .card-profile {
  height: 100%;
  width: 100%;
  text-align: left;
  padding: 30px 20px;
  margin: 0 auto;
  background: #DBDEE0;
  box-shadow: 0px 1px 1px 0px rgba(48, 68, 76, 0.75);
  border-radius: 3px; }

.card-profile {
  width: 200px; }

/* Utilities
--------------*/
.center-text {
  text-align: center; }

.zero-margin {
  margin: 0px; }

.inherit-height {
  height: inherit; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

/* Centering Hack
--------------*/
.content {
  margin: 0px auto;
  display: table; }

.content > * {
  display: table-cell; }

/* ===============
    ALL: IE Fixes
   =============== */
.ie7 .title {
  padding-top: 20px; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/* Testers */
.test1 {
  background-color: lightgrey; }

.test2 {
  background-color: indianred; }

.contact-bar {
  position: relative;
  width: 100%;
  min-height: 50px;
  background-color: #F4F4F4;
  -webkit-transition: all 3s ease;
  transition: all 3s ease; }
  .contact-bar div {
    text-align: center;
    height: auto;
    padding: 5px; }
  .contact-bar-hidden {
    display: none;
    top: -50px;
    -webkit-transition: all 3s ease;
    transition: all 3s ease; }
  .contact-bar-shown {
    display: flex;
    top: 0px;
    -webkit-transition: all 3s ease;
    transition: all 3s ease; }

section {
  padding: 20px; }

.section-1 {
  max-height: 700px; }

.close {
  content: url("../assets/images/close.png");
  height: 25px;
  width: auto;
  border: none;
  cursor: pointer; }

#navigation-main img {
  height: 50px;
  width: auto; }
#navigation-main .menu__link {
  min-width: 80px;
  display: block;
  color: #0B1114;
  text-align: center; }
  #navigation-main .menu__link:hover {
    color: #373F51;
    -webkit-transition: color 0.4s;
    transition: color 0.4s; }
  #navigation-main .menu__link:after {
    content: '';
    display: block;
    margin: 4px auto;
    width: 0%;
    border-bottom: 4px solid #0B1114;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    visibility: hidden; }
#navigation-main .menu__item--current .menu__link {
  color: #8D99AE;
  -webkit-transition: width 0.5s;
  transition: width 0.5s; }
  #navigation-main .menu__item--current .menu__link:after {
    border-bottom: 4px solid #8D99AE;
    width: 100%;
    visibility: visible; }
#navigation-main .menu__item--current {
  color: #8D99AE;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }

#section-footer {
  box-sizing: content-box;
  color: #FFFFF7;
  height: auto;
  bottom: 0;
  background-color: #373F51;
  padding: 15px 15px 5px 15px;
  border-bottom: 15px #373F51; }
  #section-footer #privacy {
    padding: 30px 0px 0px 0px; }
  #section-footer #copyright {
    padding: 30px 0px 0px 0px; }
  #section-footer #logo-footer {
    padding: 30px 0px 10px 20px; }
    #section-footer #logo-footer img {
      height: auto;
      width: 300px;
      border: none;
      clip: rect(0px, 50px, 100px, 0px); }
    @media screen and (max-width: 48em) {
      #section-footer #logo-footer {
        padding: 5px; } }
  #section-footer .sitemap-box {
    display: inline-block;
    vertical-align: top;
    margin-right: 80px;
    padding: 10px 0px; }
    #section-footer .sitemap-box .note-text {
      font-size: 0.9;
      color: #FFFFF7; }
    #section-footer .sitemap-box .description-text {
      font-size: 0.8;
      color: #FFFFF7; }
    #section-footer .sitemap-box .pages ul {
      list-style: none;
      list-style-image: none;
      padding: 0;
      margin: 0;
      line-height: 25px; }
  #section-footer .socialMedia-box {
    float: right;
    display: inline-block; }
    #section-footer .socialMedia-box img {
      margin: 5px 10px;
      border: none; }
    #section-footer .socialMedia-box .address {
      text-align: center;
      margin: 10px 0px;
      display: block; }

.page {
  display: inherit;
  position: inherit; }

#talkToUs {
  margin-right: 5px; }

.page-home #section-header div {
  padding: 5px; }
.page-home #section-intro {
  padding: 30px 10px 10px 10px; }
  .page-home #section-intro #intro-blurb {
    text-align: center; }
  .page-home #section-intro img {
    max-height: 497px;
    width: auto; }
.page-home #section-who .subtitle {
  text-align: center; }
.page-home #section-what .subtitle {
  text-align: center; }
.page-home #section-what img {
  border: none;
  height: 100px;
  width: auto; }
.page-home #section-what .tiles p {
  padding-top: 20px; }

/* All work page styles */
.page-work .subtitle {
  text-align: center; }
.page-work .card a, .page-work .card-profile a {
  height: auto;
  width: auto; }
.page-work .card .icon, .page-work .card-profile .icon {
  float: right;
  height: 35px;
  margin-top: 15px;
  cursor: pointer; }
.page-work .card h2, .page-work .card-profile h2 {
  margin-bottom: 20px; }
.page-work .section-1 {
  height: 100vh;
  width: 100%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.63) 31%, #FFFFFF 95%), url("https://snap-photos.s3.amazonaws.com/img-thumbs/960w/91WZ32J28K.jpg") center center no-repeat;
  background-size: cover; }
  .page-work .section-1 div {
    padding-bottom: 100px; }
.page-work .section-2 div:first-child {
  margin-bottom: 30px; }
.page-work .section-4 .button {
  padding: 30px 20px; }

/* All team page styles */
.page-team .section-2 .sub-team {
  padding-top: 30px;
  padding-bottom: 5px; }
.page-team .section-2 .card-profile {
  min-height: 180px;
  margin: 10px 5px; }
  @media screen and (max-width: 48em) {
    .page-team .section-2 .card-profile {
      max-width: 130px; }
      .page-team .section-2 .card-profile .secondary-title {
        font-size: 1em; }
      .page-team .section-2 .card-profile .note-text {
        font-size: 0.8em; } }
  .page-team .section-2 .card-profile a {
    height: auto;
    width: auto; }
  .page-team .section-2 .card-profile .icon {
    height: 30px;
    cursor: pointer; }
.page-team .section-1 {
  height: 100vh;
  width: 100%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.63) 31%, #FFFFFF 95%), url("https://snap-photos.s3.amazonaws.com/img-thumbs/960w/Y2P39NGLLO.jpg") center center no-repeat;
  background-size: cover; }
  .page-team .section-1 div {
    padding-bottom: 100px; }

.page-social .section-1 {
  height: 100vh;
  width: 100%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.63) 31%, #FFFFFF 95%), url("https://hd.unsplash.com/photo-1470753937643-efeb931202a9") center center no-repeat;
  background-size: cover; }
  .page-social .section-1 div {
    padding-bottom: 100px; }

.page-affiliate .section-1 {
  height: 100vh;
  width: 100%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.63) 31%, #FFFFFF 95%), url("../../assets/images/team.jpeg") center center no-repeat;
  background-size: cover; }
  .page-affiliate .section-1 div {
    padding-bottom: 100px; }

@media screen and (max-width: 39.9375em) {
  .center-text-small {
    text-align: center; } }

.m-scene .scene-main {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.m-scene .scene-main--fadein {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

.m-scene .scene-main--fadeinup {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

.m-scene .scene-main--fadeinright {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight; }

.m-scene.is-exiting .scene-main {
  -webkit-animation-direction: alternate-reverse;
  animation-direction: alternate-reverse; }

.anim-width, #navigation-main .menu__link:after {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: width;
  animation-name: width; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes width {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }
@keyframes width {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    transform: none; } }
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;
    transform: none; } }
