@import "base.scss";
#contact-bar {
    min-height: 50px;
    background-color: $secondary-alt-2-color;
    div {
        text-align: center;
        height: auto;
        padding: 5px;
    }
}
section {
    padding: 20px;
}
#navigation-main {
    .menu__link {
        min-width: 80px;
        display: block;
        color: $primary-color;
        text-align: center;
        &:hover {
            color: $tertiary-color;
            -webkit-transition: color 0.4s;
            transition: color 0.4s;
        }
        &:after {
            content: '';
            display: block;
            margin: 4px auto;
            width: 0%;
            border-bottom: 4px solid $primary-color;
            webkit-transition: all 0.4s ease;
            transition: all 0.4s ease;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }
    }
    .menu__item--current .menu__link {
        color: $tertiary-alt-1-color;
        -webkit-transition: color 0.5s;
        transition: color 0.5s;
        &:after {
            border-bottom: 4px solid $tertiary-alt-1-color;
            width: 100%;
        }
    }
    .menu__item--current {
        color: $tertiary-alt-1-color;
        -webkit-transition: color 0.1s;
        transition: color 0.1s;
    }
}

#section-header {
    div {
        padding: 5px;
    }
    #talkToUs {
        margin-right: 5px;
    }
}
#section-intro {
    padding: 30px 10px 10px 10px;
    #intro-blurb {
        text-align: center;
    }
    img {
        max-height: 497px;
        width: auto;
    }
}
#section-who {
    .subtitle {
        text-align: center;
    }
}
#section-what {
    .subtitle {
        text-align: center;
    }
    img {
        border: none;
        height: 100px;
        width: auto;
    }
    .tiles p {
        padding-top: 20px;
    }
}
#section-footer {
    box-sizing: content-box;
    color: $secondary-color;
    height: 250px;
    background-color: $tertiary-color;
    padding-bottom: 0px;
    border-bottom: 15px $tertiary-color;
    #privacy {
        padding: 30px 0px 0px 0px;
    }
    #copyright {
        padding: 30px 0px 0px 0px;
    }
    #logo-footer {
        padding: 30px 10px 20px 20px;
        img {
            height: auto;
            width: 300px;
            border: none;
            border-radius: none;
        }
        @media screen and (max-width: 39.9375em) {
            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
        @media screen and (min-width: 40em) {
            img {
                float: right;
            }
        }

    }
}
.center-text-small {
    @media screen and (max-width: 39.9375em) {
        text-align: center;
    }
}
.m-scene .scene-main {
  -webkit-animation-duration: .25s;
          animation-duration: .25s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.m-scene .scene-main--fadein {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}
.m-scene.is-exiting .scene-main {
  -webkit-animation-direction: alternate-reverse;
          animation-direction: alternate-reverse;
}
.m-scene .scene-nav {
  -webkit-animation-duration: .25s;
          animation-duration: .25s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: width;
          animation-name: width;
}
.m-scene.is-exiting .scene-nav {
  -webkit-animation-direction: alternate-reverse;
          animation-direction: alternate-reverse;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes width {
  0% {
    width: 300px;
  }
  100% {
    width: 50vw;
  }
}
@keyframes width {
  0% {
    width: 300px;
  }
  100% {
    width: 50vw;
  }
}