@import "base.scss";
#contact-bar {
    min-height: 50px;
    background-color: $secondary-alt-2-color;
    div {
        text-align: center;
        height: auto;
        padding: 5px;
    }
}
#header-wrapper {
    div {
        padding: 5px;
    }
    #talkToUs {
        margin-right: 5px;
    }
}
