* {
  box-sizing: border-box; }

/*
Custom Font Sets
----------------*/
@font-face {
  font-family: "Brandon Text";
  src: url(../assets/fonts/brandon_text/brandon-text-regular.ttf) format("truetype"), url(../assets/fonts/brandon_text/brandon-text-regularitalic.woff) format("woff"), url(../assets/fonts/brandon_text/brandon-text-medium.ttf) format("truetype"), url(../assets/fonts/brandon_text/brandon-text-bold.woff) format("woff"), url(../assets/fonts/brandon_text/brandon-text-medumitalic.ttf) format("truetype"), url(../assets/fonts/brandon_text/brandon-text-bold.ttf) format("truetype"), url(../assets/fonts/brandon_text/brandon-text-bolditalic.ttf) format("truetype"); }
/* Basic Boilerplate */
html {
  max-width: 100% !important;
  color: #0B1114;
  line-height: 1.4;
  overflow-x: hidden !important; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.wrapper {
  width: 90%;
  margin: 0 5%; }

/* Default typography
--------------------- */
.primary-text-color {
  color: #0B1114; }

.secondary-text-color {
  color: #F2F3F4; }

.tertiary-text-color {
  color: #373F51; }

.primary-font, .section-super-header, .section-header, .primary-title, .secondary-title, .sub-title, .tagline-text, .note-text, .description-text {
  font-family: "Brandon Text", sans-serif; }

.secondary-font, .body-text {
  font-family: "Brandon Text", serif; }

.tertiary-font, body {
  font-family: "Brandon Text", serif; }

body {
  text-decoration: none;
  overflow-x: hidden;
  font-size: 16px; }

.font-fix, .section-super-header, .section-header, .primary-title, .secondary-title, .sub-title, .tagline-text, .note-text, .description-text, .body-text {
  font-kerning: auto; }

.section-super-header {
  color: #000000;
  font-size: 4.236em;
  line-height: 18px;
  font-weight: bold; }

.section-header {
  color: #0B1114;
  font-size: 2.618em;
  font-weight: 800;
  line-height: 18px; }

.primary-title {
  color: #0B1114;
  font-size: 1.999em;
  line-height: 45px; }

.secondary-title {
  color: #373F51;
  font-size: 1.618em;
  line-height: 35px; }

.sub-title {
  color: #8D99AE;
  font-size: 1.414em;
  line-height: 15px; }

.tagline-text {
  color: #373F51;
  font-size: 1.125em;
  line-height: 24px; }

.note-text {
  color: #0B1114;
  font-size: 0.875em;
  line-height: 2px; }

.description-text {
  color: #373F51;
  font-size: 0.707em;
  font-weight: 300;
  letter-spacing: 0.4px;
  line-height: 25px; }

.body-text {
  /* Motivation can take : */
  font-size: 1em;
  color: #000000;
  letter-spacing: 0px;
  line-height: 22px; }

/* Link clear defaults
-------------------*/
a {
  text-decoration: none;
  color: #0B1114; }

a:focus, a:hover {
  color: #F2F3F4; }

a:active {
  outline: 0; }

a:visited {
  outline: 0; }

/*
Default button styles
---------------------*/
.button {
  margin: 0px;
  background: #FFFFFF;
  border: 2px solid #000000;
  min-height: 30px;
  vertical-align: middle;
  color: #000000;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.button:hover {
  background: #000000;
  color: white; }

.button-link-color-inherit a {
  color: inherit; }
  .button-link-color-inherit a:hover, .button-link-color-inherit a:focus {
    color: inherit; }

/* Shared elements
------------------*/
section {
  display: block; }

footer {
  clear: both !important;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }

.slate {
  position: relative;
  display: block;
  height: auto;
  width: 90%;
  top: 20px;
  left: 5%;
  background-color: #F2F3F4;
  box-shadow: 0px 3px 5px 0px rgba(70, 63, 76, 0.3);
  padding: 20px; }

.card {
  color: #F2F3F4;
  background: #463F4C;
  box-shadow: 0px 3px 0px 0px #312C35, 0px 3px 0px 0px rgba(70, 63, 76, 0.5); }

.profile img {
  margin-left: 22%;
  height: 120px; }

.icon {
  height: 45px;
  width: auto !important;
  pointer-events: none; }

.icon-small {
  height: 25px;
  width: auto !important;
  pointer-events: fill; }
  .icon-small.checkmark:hover {
    -moz-filter: hue-rorate(225deg);
    filter: hue-rotate(225deg); }

table {
  border-spacing: 5px;
  empty-cells: show;
  border: 3px dashed #cbcbcb; }
  table thead {
    background-color: #e0e0e0;
    text-align: left;
    vertical-align: bottom; }
    table thead tr {
      border-bottom: 3px dashed #cdcdcd; }
  table tfoot {
    background-color: #e0e0e0;
    text-align: left;
    vertical-align: middle; }
  table td, table th {
    padding: 20px; }

.construction-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #000000;
  color: white;
  min-height: 50px;
  font-weight: 300;
  font-style: italic;
  padding: 10px;
  box-shadow: 0px 1px 0px 2px #000000; }

.icon {
  height: 50px;
  width: 50px; }

/* Utilities
--------------*/
.center-text {
  text-align: center; }

.zero-margin {
  margin: 0px; }

.inherit-height {
  height: inherit; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

/* Centering Hack
--------------*/
.content {
  margin: 0px auto;
  display: table; }

.content > * {
  display: table-cell; }

/* ===============
    ALL: IE Fixes
   =============== */
.ie7 .title {
  padding-top: 20px; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/* Testers */
.test1 {
  background-color: lightgrey; }

.test2 {
  background-color: indianred; }

* {
  box-sizing: border-box; }

html, body {
  min-height: 100%;
  overflow: hidden; }

body {
  background: #fff;
  font-family: 'Brandon Text', sans-serif; }

.landing-wrapper {
  height: 100%;
  width: 100%; }

#logo-wrapper {
  height: 85%; }

#footer-wrapper {
  height: 15%;
  padding: 0px 5px 10px 5px; }

#svg {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -2; }

#logo {
  margin-top: 15%;
  color: white;
  text-align: center; }
  #logo svg {
    height: 100%;
    width: 80%; }

#tagline {
  padding: 20px;
  text-align: center; }
