@import "base.scss";
* {
    box-sizing: border-box;
}
html, body {
    min-height: 100%;
    overflow:hidden;
}
body {
    background: #fff;
    font-family: 'Brandon Text', sans-serif;
}
.landing-wrapper {
    height: 100%;
    width: 100%;
}
#logo-wrapper {
    height: 85%;
}
#footer-wrapper {
    height: 15%;
    padding: 0px 5px 10px 5px;
}
#circleLoader {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -2;
    circle {
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
}
#logo {
    margin-top: 15%;
    color: white;
    text-align: center;
    svg {
        height: 100%;
        width: 80%;
    }
}
#tagline {
    padding: 20px;
    text-align: center;
}
