body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

#welcome{
    width: 100%;
    height: 100vh;
    background:url("../images/landingbg.png");
}
#welcome #image-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.85);
}
#welcome #logo{
    display: block;
    position: relative;
    width: 50%;
    vertical-align: middle;
    margin: 0 auto;
    padding-top: 20%;
    z-index: 2;
}
#welcome a{
    position: relative;
    display: block;
    width: 50%;
    vertical-align: middle;
    margin: 0 auto;
    margin-top: 40px;
    z-index: 2;
    text-align: center;
    font-size: 2em;
    color: white;
}

#main{
    position: relative;
}
nav{
    position: absolute;
    top: 0;
    width: calc(100%-20px);
    background-color: rgba(255, 255, 255, 1);
    padding: 10px 20px;
    transition: box-shadow 0.5s;
    filter: blur(5px);
}
nav #logo{
    float: left;
    vertical-align: middle;
    height: auto;
    width: 20%;
}
nav ul{
    float: right;
    vertical-align: middle;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin: 0 20px;
}
nav ul li a{
    font-size: 1.2em;
    color: black;
    text-decoration: none;
}

section{
    min-width: 100%;
    height: 100vh;
    padding-top: 30px;
}
#about{
    padding: 25%;
}
#about #terminal{
    display: block;
    width: 50%;
    height: 50%;
    color: #FF5858;
    padding: 10px;
    border: 1px solid #FF5858;
    border-radius: 5px;
    font-family: serif;
    font-size: 15px;
    line-height: 20px;
    overflow: scroll;
}
#about #terminal .response{
    padding-left: 20px;
}
#about #terminal #precommand{
    display: inline-block;;
}
#about #terminal #command{
    display: inline-block;
    height: 20px;
}
#about #terminal #command:focus{
    outline: none;
}
