body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

#welcome{
    width: 100%;
    height: 100vh;
    background:url("../images/landingbg.png");
}
#welcome #image-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.85);
}
#welcome #logo{
    display: block;
    position: relative;
    width: 50%;
    vertical-align: middle;
    margin: 0 auto;
    padding-top: 20%;
    z-index: 2;
}

#welcome a{
    position: relative;
    display: block;
    width: 50%;
    vertical-align: middle;
    margin: 0 auto;
    margin-top: 40px;
    z-index: 2;
    text-align: center;
    font-size: 2em;
    color: white;
}

#main{
    position: relative;
}

#welcome #arrows img {
    margin-top: 250px;
} 

nav{
    position: absolute;
    top: 0;
    width: calc(100% - 20px);
    background-color: rgba(255, 255, 255, 1);
    padding: 10px 20px;
    transition: box-shadow 0.5s;
    filter: blur(5px);
}
nav #logo{
    float: left;
    vertical-align: middle;
    height: auto;
    width: 20%;
}
nav ul{
    float: right;
    vertical-align: middle;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin: 0 20px;
}
nav ul li a{
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    color: black;
    text-decoration: none;
}

.slidebutton {
    background-color: #3498db;
    padding: 5px 30px;
    border-radius: 5px;
}

.slidebutton:hover{
    background-color: #175782;
}

section{
    min-width: 100%;
    height: 90vh;
    padding-top: 30px;
}
#about{
    padding-left: 25%;
}
#about #terminal{
    display: block;
    width: 50%;
    height: 50%;
    color: #FF5858;
    padding: 10px;
    border: 1px solid #FF5858;
    border-radius: 5px;
    font-family: 'Inconsolata';
    font-size: 15px;
    line-height: 20px;    
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(255,88,88,0.7);
    -moz-box-shadow: 0px 0px 15px 1px rgba(255,88,88,0.7);
    box-shadow: 0px 0px 15px 1px rgba(255,88,88,0.7);
}
#about #terminal .response{
    padding-left: 20px;
}
#about #terminal #precommand{
    display: inline-block;;
}
#about #terminal #command{
    display: inline-block;
    height: 20px;
}
#about #terminal #command:focus{
    outline: none;
}

#about {
    font-family: 'Inconsolata';
}

#about #arrows img{
    display: block;
    margin: 10% calc(25% - 50px);
}

.project {
    height: 450px;
    width: 100%;
    display: flex;
    align-items: center;
}

.deltahacks {
    background-color: #1abc9c;
    padding-left: 100px;
}

.teamx {
   background-color: #e74c3c;
   justify-content: flex-end; 
}

.teamx img {
    padding-right: 100px;
}

.teamx .content {
    margin-right: -10%;
}

.codenights {
   background-color: #f1c40f; 
   padding-left: 100px;
}

.blah {
   background-color: #e67e22; 
   justify-content: flex-end;
}

.blah img {
    padding-right: 100px;
}

.blah .content {
    margin-right: -10%;
}

.content {
    width: 100%;
    height: 100%;
    margin-left: 10%;
    margin-top: 10%;
}

.content h2 {
    font-size: 50px;
    margin: 0;
    margin-top: -10px;
}

.content .description {
    background-color: black;
    height: 50%;
    border-radius: 10px;
    width: 75%;
}

.content .description p {
    color: white;
    margin: 0;
}

#lab{
    
}
#lab #timeline{
    position: relative;
    width: 100%;
    height: 10px;
    background-color: red;
}
#lab #timeline .bubble{
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: -5px;
    border-radius: 100%;
    background-color: red;
    color: white;
}
#lab #timeline .bubble pic, #lab #timeline .bubble description{
    display: none;
    width: 0;
    height: 0;
}
#lab #timeline .bubble:focus{
    outline: none;    
    background-color: lightcoral;
}
#lab #timeline #bubble-cursor{
    opacity: 0;
    position: absolute;  
    bottom: -50px;    
    width: 80px;
    height: 50px;
    transition: opacity 0.25s;
}
#lab #timeline #bubble-cursor svg{
    /* box-shadow: 0 25px 25px gray;*/
    filter:drop-shadow(0 25px 25px gray);
    -webkit-filter: drop-shadow(0 10px 10px gray);
}
#lab #timeline #bubble-cursor #bubble-cursor-content{
    position: absolute;
    top: 50%;
    width: 350%;
    color: white;
    text-align: center;
    padding: 50% 10%;
}
#lab #details{
    display: none;
    margin-top: 10%;
    padding: 0 20px;
    padding-bottom: 10px;
}
#lab #lab-image{
    display: block;
    width: 100%;
}
#lab #details h3{
    padding: 0 20px;
}
#lab #lab-description{
    padding: 20px;
}
#lab #lab-progress{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    border-radius: 20px;
    background:black;
}
#lab #lab-progress #bar{
    width: 80%;
    height: inherit;
    background: red;
    border-radius: inherit;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}